<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>
    <mat-card class="userCard">
        <form [formGroup]="form" (ngSubmit)="crearUsuario()">
            <mat-grid-list cols="4" rowHeight="70px" class="myInputs">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Username</mat-label>
                        <input matInput autocomplete="off" formControlName="username">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName="password">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Torre Apto</mat-label>
                        <input matInput autocomplete="off" formControlName="torre_apto">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo Usuario</mat-label>
                        <mat-select formControlName="tipo_usuario">
                            <mat-option *ngFor="let element of tiposUsuarios" [value]="element">
                              {{element}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>                
            </mat-grid-list>
            <button mat-mini-fab matTooltip="Atrás" routerLink="/dashboard/usuarios">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button type="submit" (click)="crearUsuario()" [disabled]="form.invalid" mat-mini-fab color="primary" matTooltip="Guardar">
                <mat-icon>save</mat-icon>
            </button>
        </form>          
    </mat-card>
</div>