<div class="container">
    <mat-toolbar>
        <span>Crear Reserva</span>
    </mat-toolbar>
    <mat-card class="userCard">
        <form [formGroup]="form" (ngSubmit)="agregarReserva()">
            <mat-grid-list cols="4" rowHeight="70px" class="myInputs">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput autocomplete="off" formControlName="username">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Escoja una fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_reserva">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Turno</mat-label>
                        <mat-select formControlName="turno">
                            <mat-option *ngFor="let element of turnos" [value]="element">
                              {{element}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>                
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Propietario</mat-label>
                        <input matInput autocomplete="off" formControlName="torre_apto">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <button mat-mini-fab matTooltip="Atrás" routerLink="/dashboard/usuarios">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button type="submit" [disabled]="form.invalid" mat-mini-fab color="primary" matTooltip="Guardar">
                <mat-icon>save</mat-icon>
            </button>
        </form>          
    </mat-card>
</div>